.cadre{
  border-color: black;
  border-style: solid none none none;
  border-width: 1px;
}

.clear{
  background-color: #3f525c;
  border-radius: 2px;
  padding: .5rem;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  min-width: 70px;
  margin: .5rem auto;
}

.clear:hover {
  background-color: #000;
}
