<div *ngIf="hero" class="container">

  <button (click)="goBack()">go back</button>

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <div *ngIf="user.profile === 'admin' || user.profile === 'writer'; else elseBlock">
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <ng-template #elseBlock>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" [readonly]="true">
    </ng-template>
  </div>

  <button
    *ngIf = "user.profile === 'admin' || user.profile === 'writer'"
    (click)="save()"
  >save</button>

</div>
